*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: aqua; */
    gap: 5vw;
}

.first-content{
    background-color: rgb(255, 254, 244);
    border-radius: 15px;
    width: 50%;
    height: 70%;
    display: flex;
    padding: 10vh 9vw 5vh 10vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

h2{
    color: rgb(239, 46, 81);
}


.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 88vh;
}

input{
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(227, 32, 65);
    border-style: solid;
}

button{
    height: 7vh;
    width: 25vh;
    background-color: rgb(255, 0, 85);
    border: none;
    align-items: center;
    color: rgb(255, 169, 235);
    border-radius: 100px;
    
}

a{
    text-decoration: none;
    color: rgb(255, 154, 208);
}

button:hover{
    background-color: rgb(153, 0, 54);
}